@model Allowance.Models.Models.Login

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <div class="form-control" id="login_credential">
        @Html.Label("Name")
        @Html.TextBoxFor(m => m.Name, "Name")
    </div>

    <div class="form-control" id="login_credential">
        @Html.Label("Password")
        @Html.TextBoxFor(m => m.Password, "Password")
    </div>

    <button type="submit" class="btn-success" id="login_credential">Submit</button>

}
