@model Allowance.Models.ViewModels.LoginViewModel

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <div class="form-control">
        @Html.Label("Name")
        @Html.TextBoxFor(m => m.Name, "Name")
    </div>

    <div>
        @Html.Label("Password")
        @Html.TextBox("Password");
    </div>

}
