@model Allowance.Models.ViewModels.AllowanceInfo
<h3> Overview Page</h3>

<div class="container">
    <div class="col-md-6">
        <h4>@Html.LabelFor(m => m.Name) Account Balance</h4>
    </div>

    <div class="col-md-6">
        <h4>Weekly Allowance</h4>
        <div>
            @{ 

            }
        </div>
    </div>

</div>

<div class="container">
    <div class="col-md-6">
        <h4>Want extra money?</h4>
    </div>

    <div class="col-md-6">
        <h4></h4>
    </div>

</div>