@model IEnumerable<Allowance.Models.ViewModels.LoginViewModel>

<div class="col-md-6">
    <h2>Choose your account</h2>
    
    <div>
        <table>
            <tr>
                <td></td>
                <td>Name</td>
            </tr>

            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @{ 
                            if(item.Gender == "m")
                            {
                                <img src="~/Images/boy.png" />
                            }
                            else
                            {
                                <img src="~/Images/girl.png" />
                            }
                        }
                    </td>

                    <td>
                        @Html.DisplayFor(model => item.Name)
                    </td>
                </tr>
            }
        </table>
    </div>
     <div class="col-md-3">
     
     </div>
     
     <div class="col-md-3">
     
     </div>
</div>

<div class="col-md-6" id="login_partial">

</div>
