
<div class="jumbotron">
    <h1 style="text-align:center;">Family Allowance Center</h1>
    <p class="lead" style="text-align:center;">Manage your family allowance in one place.</p>
</div>

<span>Click to login</span>

<div>
    <div class="col-md-5">
        <a href="@Url.Action("LoginHome", "Login")"> <img src="~/Images/Boy.png" class="main_selector" id="main_boy" alt="Boy"/></a>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-5">
        <a href="@Url.Action("LoginHome", "Login")"><img src="~/Images/Girl.png" class="main_selector" id="main_girl" alt="Girl"/></a>
    </div>
</div>

