
<div class="jumbotron">
    <h1 style="text-align:center;">Family Allowance Center</h1>
    <p class="lead" style="text-align:center;">Manage your family allowance in one place.</p>
</div>

<div class="mid_header">Click to login</div>

<div class="container" id="home_login">
    <div class="col-md-10" id="home_login_div">
        <a href="@Url.Action("LoginHome", "Login")"> <img src="~/Images/Boy.png" class="main_selector" id="main_boy" alt="Boy"/></a>

        <a href="@Url.Action("LoginHome", "Login")"> <img src="~/Images/Girl.png" class="main_selector" id="main_girl" alt="Girl" /></a>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="~/Content/Index.css"/>

